$bold: 600;
$black: #222;
$green: #37875c;
$grey: #777;
$hover: #146f3e;

html, body {
  background-color: #fff8f2;
  font-size: 14px;
  color: $black;
}

@mixin hover {
  &:hover, &:focus {
    @content;
  }
}

@mixin gutter($top: 0) {
  margin: $top auto 0;
  max-width: 1140px;
}

.right {
  float: right;
}