$option-width: 165px;
$promo-width: 238px;
$promo-pad: 18px;

#container {
  @include gutter(14px, 7px);
}

#main h2 {
  margin: 15px 22px 0.25em;
  font-family: Rambla;
  text-align: right;
}

#layout {
  padding-left: $option-width;
  padding-right: $promo-width;
  position: relative;
}

#refine {
  margin-left: -$option-width;
  width: $option-width;
  height: 0;
}

#promo {
  padding-left: $promo-pad;
  width: $promo-width - $promo-pad;
  position: absolute;
}