$light: #888;
$page-height: 26px;

#listing {
  list-style-type: none;
  padding: 0 7px;
  margin-top: 0;
  li {
    border-bottom: 1px solid #ddd;
    padding: 5px 11px 8px;
  }
  h4 {
    margin: 5px 0;
    font-size: 1.1em;
  }
  a {
    text-decoration: none;
    padding: 4px 0;
    color: $black;
    &:hover {
      color: $hover;
    }
  }
  p {
    margin: 5px 0 6px;
    font-size: 13px;
    span {
      font-style: italic;
      color: $light;
    }
  }
  .desc {
    width: 98%;
    color: $light;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .post {
    float: right;
    margin: 7px 5px;
    font-size: 12px;
    color: $light;
  }
}

#search {
  padding: 0 12px;
  h4 {
    margin: 1.5em 0 0.5em 9px;
    color: $green;
  }
  input {
    font-size: 15px;
    width: 7em;
  }
  .tagit {
    margin: 10px 5px;
  }
}

.pagination {
  padding: 9px 0 10px 9%;
  text-align: center;
  span {
    margin-right: 8px;
    &.page {
      border: 2px solid #ccc;
      width: 30px;
      height: $page-height;
      line-height: $page-height;
      background: #fff;
      display: inline-block;
      a {
        text-decoration: none;
        width: 100%;
        height: 100%;
        color: $black;
        display: block;
      }
    }
    &.current {
      border-color: #444;
      background: $green;
      color: white;
    }
    &.gap {
      color: $grey;
    }
  }
}