%meta{:charset => 'utf-8'}
%meta{:name => 'author', :content => "Tech Savvy Jobs Pty Ltd"}
%meta{:name => 'keywords', :content => "Tech, Savvy, Jobs, IT"}
= csrf_meta_tags
/[if lt IE 9]
  %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}